/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

// Typography

/* Global typography rules. Colors defined in individual page styles for flexibility. */
h1 {
  font-size: 5em;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 1.3em;
}
.home {
  .calc {
    max-width: 346px;
    padding: 30px;
    overflow-y: scroll;
  }
  .view {
    width: 100%;
  }
}

.mobile-alert {
  display: none;
}
