//services
#ser-banner {
  .right {
    right: -20%;
  }
}
//home

#home {
  .intro {
    font-size: 1.3em;
    max-width: 610px;
  }
  .flex-container {
    max-width: 790px;
  }
}

.team-photo {
  width: auto;
  max-height: 360px;
}
