//misc columns

.two-col {
  width: 47%;
}

//home

#home {
  h1 {
    font-size: 82px;
  }
  .intro {
    max-width: 510px;
  }
}

#logos {
  .logo-grid {
    .flex-item {
      width: 10%;
    }
  }
}

#process {
  .flex-item {
    width: 30%;
  }
}

//project

#work-secondary-grid {
  .work-item {
    width: 48%;
  }
}

//blog styles

#blogdrop {
  padding: 100px 0 150px 0;
  .info {
    h1 {
      letter-spacing: 0;
      font-size: 60px;
    }
    h4 {
      display: none;
    }
  }
}

.single-feat {
  max-width: 600px;
  margin: 0 auto;
  margin-top: -110px;
  margin-bottom: 50px;
  height: 600px;
}

#feat-posts-grid {
  .cont-1 {
    width: 100%;
    height: 300px;
  }
  .cont-2,
  .cont-3 {
    width: 49.4%;
  }
}
.latest-post {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .post-left {
    width: 49.8%;
  }
}
