@import "bulma/bulma";
@import "scss/partials/variables";
@import "scss/breakpoints/base";
@media only screen and (min-width: 768px) {
    @import "scss/breakpoints/768";
}

@media only screen and (min-width: 1024px) {
    @import "scss/breakpoints/1024";
}

@media only screen and (min-width: 1240px) {
    @import "scss/breakpoints/1240";
}